@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  src: url(./Merriweather/Merriweather-LightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: url(./Merriweather/Merriweather-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: url(./Merriweather/Merriweather-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url(./Merriweather/Merriweather-Bold.ttf) format('truetype');
}
