@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: url(./Montserrat/Montserrat-LightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: url(./Montserrat/Montserrat-SemiBoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(./Montserrat/Montserrat-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url(./Montserrat/Montserrat-SemiBold.ttf) format('truetype');
}
