html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

a,
.btn {
  -webkit-tap-highlight-color: transparent;
}

b {
  font-weight: 600;
}

.color-light-green {
  color: #62ff62;
}

.emoji {
  font-style: normal;
}
